/src/main/resources/database.properties
target/classes/database.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.quyenpn/DUTTrainningPro/pom.properties
*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
