.action-success {
	background-color: #64c5b1 !important; 
	font-weight: bold !important; 
	border-color: white !important;
}

.pass-fail{
	font-weight: bold;
	color: red;
}

.pass-success{
	font-weight: bold;
	color: #6cb33e;
}

.body-header-left{
	float:left;
}

.body-header-right{
	float:right;
}

.soption{
	background-color: #4489e4;
	color: white;
	cursor: pointer;
}
.sdisable{
	background-color: white !important;
	color: gray !important;
}